body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}


nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
    font-size : 40px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form button {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    margin-top : 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width : 94%;
}

form button:hover {
    background-color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

ul li a:hover {
    text-decoration: underline;
}

ul li form {
    display: inline;
}

ul li form button {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

ul li form button:hover {
    background-color: #c0392b;
}

input{
    font-size: 20px;
}

.details{
    font-size: 30px;
}
.details a{
    margin-right : 20px;
    color : red;
    text-decoration: none;
}
